<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">404 CariFakta <span id="js-rotating"> Error Konten tidak ditemukan </span> <span id="js-rotating2">Konten telah dihapus, Atau alamat link tidak tersedia</span></h4>
  </div>
  <div class="user-content">
    <p>
      Konten tidak ditemukan  </p>
    
  </div>
</div>
