<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">CariFakta<span id="js-rotating">Berita Hoax, Viral, tips dan trik, Catatan pribadi</span> <span id="js-rotating2">Terbaru, Terupdate, Tranding Topic</span></h4>
  </div>
  <div class="user-content">
    <p>
      CariFakta.github.io adalah portal situs tutorial , berita update , viral , berita hoax dll
    </p>
    <p>
      Kami berupaya memberikan konten konten sehat dan bermanfaat. jadilah bagian dari kami
    </p>
    <p>
      Info kontak
email : fstemcyber@gmail.com
whatsapp: +62822 836 836 87
.
    </p>
    <p>
      Ingin donasi?? donasi anda akan kami salurkan ke yayasan amal anak yatim
hubungi nomor kami di 085723113941
    </p>
  </div>
</div>
