<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">Codeigniter4 Indonesia<span id="js-rotating"> tutorial</span> <span id="js-rotating2"> sederhana</span></h4>
  </div>
  <div class="user-content">
    <p>
      CodeIgniter adalah Kerangka Pengembangan Aplikasi - toolkit - untuk orang yang membangun situs web menggunakan PHP. Tujuannya adalah untuk memungkinkan Anda mengembangkan proyek jauh lebih cepat daripada jika Anda menulis kode dari awal, dengan menyediakan kumpulan pustaka yang kaya untuk tugas-tugas yang umumnya dibutuhkan, serta antarmuka sederhana dan struktur logis untuk mengakses pustaka ini. CodeIgniter memungkinkan Anda secara kreatif fokus pada proyek Anda dengan meminimalkan jumlah kode yang diperlukan untuk tugas tertentu.
    </p>
    <p>
      Jika memungkinkan, CodeIgniter telah dibuat sefleksibel mungkin, memungkinkan Anda untuk bekerja sesuai keinginan Anda, tidak dipaksa untuk bekerja dengan cara tertentu. Kerangka kerja dapat memiliki bagian inti yang mudah diperpanjang atau diganti seluruhnya untuk membuat sistem berfungsi sesuai kebutuhan Anda. Singkatnya, CodeIgniter adalah kerangka kerja lunak yang mencoba menyediakan alat yang Anda butuhkan sambil tetap berada di luar.
      
    </p>

  </div>
</div>
